*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none !important;
}
html {
  width: 100%;
  height: 100%;
}
body {
  background-attachment: fixed;
  background-color: #fde3a7;
  background-image: url(../images/logo_watermark.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  color: #333333;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
}
header {
  background-color: #deb887;
  box-shadow: 0px 0px 10px 3px #5c2e00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  position: relative;
  width: 100%;
}
header.sticky {
  position: fixed;
  top: 0;
  z-index: 10000;
}
header.sticky + main section:first-of-type {
  padding-top: 80px;
}
header .header-wrapper {
  margin: 0 auto;
  min-width: 600px;
  position: relative;
  width: 50%;
}
header .header-wrapper .logo-container {
  position: absolute;
  left: -140px;
  top: 8px;
}
header .header-wrapper nav {
  border-radius: 0 !important;
  border: none !important;
  height: 60px;
  margin-bottom: 0 !important;
}
header .header-wrapper nav .container-fluid {
  padding: 0;
}
header .header-wrapper nav .navbar-header {
  height: 80px;
  margin: 0;
  padding: 10px 0;
  position: relative;
}
header .header-wrapper nav button {
  background-color: #5c2e00 !important;
  border-color: #5c2e00 !important;
  border-radius: 4px !important;
  margin-right: 0 !important;
  padding-bottom: 9px;
  position: absolute !important;
  right: 0;
  top: 16px;
  transition: background-color 0.3s linear, border-radius 0.3s linear, padding-bottom 0.3s linear;
}
header .header-wrapper nav button.opened {
  background-color: #fde3a7 !important;
  border-radius: 4px 4px 0 0 !important;
  padding-bottom: 35px;
  transition: background-color 0.3s linear, border-radius 0.3s linear, padding-bottom 0.3s linear;
}
header .header-wrapper nav button.opened .icon-bar {
  background-color: #5c2e00 !important;
  position: relative;
  transition: background-color 0.3s linear;
}
header .header-wrapper nav button.opened .icon-bar.bar1 {
  top: 6px;
  transform: rotateZ(45deg);
  transition: top 0.3s linear, transform 0.3s linear;
}
header .header-wrapper nav button.opened .icon-bar.bar2 {
  transform: rotateZ(-45deg);
  transition: transform 0.3s linear;
}
header .header-wrapper nav button.opened .icon-bar.bar3 {
  background-color: #fde3a7 !important;
  opacity: 0;
  transition: background-color 0.3s linear, opacity 0.3s linear;
}
header .header-wrapper nav button .icon-bar {
  background-color: #fde3a7 !important;
  display: block;
  position: relative;
  transition: background-color 0.3s linear;
}
header .header-wrapper nav button .icon-bar.bar1 {
  transition: top 0.3s linear, transform 0.3s linear;
}
header .header-wrapper nav button .icon-bar.bar2 {
  transition: transform 0.3s linear;
}
header .header-wrapper nav button .icon-bar.bar3 {
  transition: background-color 0.3s linear, opacity 0.3s linear;
}
main {
  padding-top: 25px;
}
main section {
  margin-bottom: 30px;
}
main section.bg-brown {
  background-color: #5c2e00;
  box-shadow: 0px 10px 10px -5px #331a00 inset, 0px -10px 10px -5px #331a00 inset;
  padding: 10px 0 40px;
}
main section .section-content {
  text-align: justify;
  margin: 0 auto;
  min-width: 600px;
  min-height: 100px;
  width: 50%;
}
footer {
  background-color: #5c2e00;
  color: #deb887;
  font-size: 14px;
  text-align: center;
  min-height: 60px;
  padding: 10px 0;
}
footer .gdpr {
  font-size: 16px;
  margin-bottom: 5px;
}
h1 {
  background: -moz-linear-gradient(left, #5c2e00 25%, rgba(222, 184, 135, 0.73) 75%, rgba(229, 229, 229, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #5c2e00 25%, rgba(222, 184, 135, 0.73) 75%, rgba(229, 229, 229, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #5c2e00 25%, rgba(222, 184, 135, 0.73) 75%, rgba(229, 229, 229, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c2e00', endColorstr='#00e5e5e5', GradientType=1);
  /* IE6-9 */
  color: white;
  font-size: 28px;
  font-style: italic;
  margin: 10px 0 10px;
  padding: 10px 0 10px 18px;
  position: relative;
  left: -20px;
  transform: skewX(14deg);
}
section:first-of-type h1 {
  margin-top: 0;
}
h2 {
  color: #5c2e00;
  font-size: 24px;
}
.bg-brown h2 {
  color: white;
  margin-top: 0;
}
a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}
a.light {
  color: white;
}
a.light:hover {
  text-decoration: underline !important;
}
a.dark {
  color: #5c2e00;
}
a.dark:hover {
  color: #331a00;
  text-decoration: underline !important;
}
p {
  margin-bottom: 15px;
}
.partners {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.partners .partner {
  background-color: #deb887;
  box-shadow: 4px 4px 10px 0px #5c2e00;
  width: 200px;
}
.partners .partner img.partner-portrait {
  border: 1px solid #5c2e00;
  border-radius: 50%;
  display: block;
  margin: 10px auto 5px;
  width: 150px;
}
.partners .partner .partner-info .partner-name {
  font-weight: bold;
  text-align: center;
}
.partners .partner .partner-info .partner-title {
  font-size: 16px;
  font-style: italic;
  text-align: center;
}
.partners .partner .partner-info .partner-bio {
  font-size: 14px;
  font-style: normal;
  text-align: left;
  padding: 8px;
}
.references {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 300px;
}
.references .ref-image {
  margin-right: 10px;
  height: 100%;
}
.references .ref-image img {
  border: 1px solid #fde3a7;
  display: block;
  height: 100%;
}
.references .ref-image-caption {
  color: white;
  font-size: 16px;
  text-align: center;
}
.carousel .carousel-control.left,
.carousel .carousel-control.right {
  background: none;
}
.carousel .carousel-indicators {
  bottom: -30px;
}
.carousel .carousel-image {
  margin: 0 auto;
}
.carousel .carousel-caption-custom {
  color: white;
  font-size: 16px;
  text-align: center;
}
.employees {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.employees .employee {
  background-color: #deb887;
  box-shadow: 4px 4px 10px 0px #5c2e00;
  text-align: center;
  padding: 5px;
  width: 160px;
}
.employees .employee img.employee-portrait {
  border: 1px solid #5c2e00;
  border-radius: 50%;
  display: block;
  margin: 10px auto 5px;
  width: 140px;
}
.employees .employee .employee-info .employee-name {
  font-weight: bold;
}
.employees .employee .employee-info .employee-title {
  font-size: 16px;
  font-style: italic;
}
.employees .employee .employee-info .employee-position {
  font-size: 14px;
  font-style: normal;
  padding: 8px;
}
@media screen and (max-width: 767px) {
  header {
    height: auto;
    min-height: 80px;
  }
  header.sticky {
    position: relative;
  }
  header.sticky + main section:first-of-type {
    padding-top: 0px;
  }
  header .header-wrapper {
    min-width: 0;
    width: 100%;
  }
  header .header-wrapper .logo-container {
    left: 0;
    margin-left: 15px;
  }
  header nav {
    height: initial;
  }
  header nav div .navbar-collapse {
    border-color: #5c2e00 !important;
    border-top: none !important;
    box-shadow: none !important;
    overflow: hidden;
  }
  header nav div .navbar-collapse.collapsing,
  header nav div .navbar-collapse.collapse {
    background-color: #deb887;
    margin: 0;
    padding-bottom: 15px;
  }
  header nav div .navbar-collapse.collapsing.in,
  header nav div .navbar-collapse.collapse.in {
    background-color: #deb887;
    overflow-y: hidden !important;
  }
  header nav ul {
    background-color: #5c2e00;
    border-radius: 4px 0 4px 4px;
    margin: 0 -15px !important;
    padding: 1px !important;
  }
  header nav ul li::after {
    clear: both;
  }
  header nav ul li:first-of-type a {
    border-radius: 4px 0 0 0;
  }
  header nav ul li:last-of-type a {
    border-radius: 0 0 4px 4px;
    margin-bottom: 0;
  }
  header nav ul li a,
  header nav ul li a:focus {
    background-color: #fde3a7 !important;
    color: #5c2e00 !important;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 1px;
    padding: 15px 5px !important;
  }
  header nav ul li a:hover,
  header nav ul li a:focus:hover {
    background-color: #5c2e00 !important;
    box-shadow: 1px 1px 25px 0px #5c2e00 inset;
    color: #fde3a7 !important;
  }
  main section {
    text-align: left;
    margin: 0;
    min-width: 0;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  header nav div .navbar-collapse {
    padding: 0;
  }
  header nav ul li::after {
    clear: both;
  }
  header nav ul li a,
  header nav ul li a:focus {
    background-color: #deb887 !important;
    border-bottom: 3px solid #deb887;
    color: #5c2e00 !important;
    font-size: 1.2em;
    text-align: center;
    margin: 22px 10px 0px 0;
    padding: 12px 10px 8px !important;
    transition: border-color 0.3s linear;
  }
  header nav ul li a:hover,
  header nav ul li a:focus:hover {
    background: #deb887 !important;
    /* Old browsers */
    background: -moz-linear-gradient(top, #deb887 0%, #fde3a7 70%) !important;
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #deb887 0%, #fde3a7 70%) !important;
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #deb887 0%, #fde3a7 70%) !important;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#deb887', endColorstr='#fde3a7', GradientType=0) !important;
    /* IE6-9 */
    border-bottom: 3px solid #5c2e00;
    transition: border-color 0.3s linear;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  header .header-wrapper {
    width: auto;
    height: 140px;
  }
  header .header-wrapper .logo-container {
    position: static;
  }
  header .header-wrapper .logo-container img {
    display: block;
    margin: 12px auto 0;
    transform: scale(1.2);
  }
  header nav ul li a,
  header nav ul li a:focus {
    margin: 15px 10px 0px 0;
  }
}
