*,
*:before,
*:after {
  outline: none;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  background-color: #f3f3f3;
  color: #555;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
}
h1 {
  color: #fff;
}
h2 {
  color: #205070;
  font-weight: bold;
  margin: 0 0 10px;
}
a,
a:hover {
  text-decoration: none !important;
}
header {
  height: 80px;
  width: 100%;
}
header .header-wrapper {
  background-color: #205070;
  box-shadow: 0px 0px 10px 3px #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  height: 80px;
}
header .header-wrapper #logo-container {
  justify-content: flex-start;
}
header .header-wrapper #menu-container #menu {
  display: flex;
  align-items: flex-start;
}
header .header-wrapper #menu-container #menu .menu-item {
  list-style: none;
}
header .header-wrapper #menu-container #menu .menu-item a {
  border-bottom: 3px solid transparent;
  transition: border-bottom-color 0.4s linear;
  color: #fff !important;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  margin: 0 10px;
  padding: 10px;
  position: relative;
  top: 5px;
}
header .header-wrapper #menu-container #menu .menu-item a:hover {
  border-bottom-color: #fff;
  transition: border-bottom-color 0.4s linear;
}
main {
  padding: 0 50px;
}
main section {
  margin-top: 20px;
  min-height: 100px;
}
footer {
  background-color: #205070;
  color: #fff;
  height: 60px;
  position: relative;
  text-align: center;
}
footer #footer-info {
  padding: 5px 0;
}
footer #creator {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
